https://github.com/hyperskill/hs-test-python/archive/release.tar.gz
pandas
numpy
spacy
scikit-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
